<nav class="navbar navbar-light bg-light">
    <div class="container-fluid d-flex flex-wrap gap-3">
        <a class="navbar-brand navbar-brand-menu" @onclick="OnToggleClick">
          <span class="oi oi-menu"></span>
        </a>
        <span class="navbar-brand navbar-brand-text mb-0 h1">Navbar</span>
        <div class="col-md-3 text-end">
            <LoginDisplay></LoginDisplay>
        </div>
    </div>
</nav>

@code {
    [Parameter] public bool ToggleOn { get; set; }
    [Parameter] public EventCallback<bool> ToggleOnChanged { get; set; }

    async Task OnToggleClick() => await Toggle();

    async Task Toggle(bool? value = null) {
        var newValue = value ?? !ToggleOn;
        if(ToggleOn != newValue) {
            ToggleOn = newValue;
            await ToggleOnChanged.InvokeAsync(ToggleOn);
        }
    }
}