<div class="sidebar @StateCssClass">
<DxTreeView AllowSelectNodes="true" CssClass="app-sidebar">
    <Nodes>
        <DxTreeViewNode NavigateUrl="./" Text="Overview"></DxTreeViewNode>
         <DxTreeViewNode NavigateUrl="userinfo" Text="User Info"></DxTreeViewNode>
        <DxTreeViewNode NavigateUrl="datagrid" Text="Data Grid"></DxTreeViewNode>
         <DxTreeViewNode NavigateUrl="counter" Text="Admin Counter"></DxTreeViewNode>
    </Nodes>
</DxTreeView>
</div>

@code {
    [Parameter] public string StateCssClass { get; set; }
}
