@page "/"
@attribute [AllowAnonymous] 


<h2 class="pb-2">Blazor Components</h2>
<p class="pb-2 mw-1100">
	Our Blazor UI components will help you create intuitive and highly-refined user experiences for both Blazor Server (ASP.NET Core) and Blazor WebAssembly hosting models.
</p>
<div class="pb-2 mw-1100">
	<img class="fit-width" src="images/banner.png" />
</div>

<AuthorizeView Roles="admin">  
    <p> Logged-in user is in Admin Role</p>  
</AuthorizeView>  
  
<AuthorizeView Roles="HR">  
    <p> Logged-in user is in HR Role</p>  
</AuthorizeView>  

<h2 class="mb-4 mt-4">Helpful Resources</h2>

<ul>
	<li><a class="helplink" href="https://demos.devexpress.com/blazor/" target="_blank">Online Demos</a></li>
	<li><a class="helplink" href="https://github.com/DevExpress/Blazor/blob/master/examples.md" target="_blank">Examples</a></li>
	<li><a class="helplink" href="https://docs.devexpress.com/Blazor/400725/blazor-components" target="_blank">Documentation</a></li>
	<li><a class="helplink" href="https://www.devexpress.com/support/training/blazor/" target="_blank">Free Blazor Training Course</a></li>
</ul>

<h3 class="mb-4 mt-4">Button Sample</h3>

<p class="bs-component">
	<button type="button" class="btn btn-primary">Primary</button>
	<button type="button" class="btn btn-secondary">Secondary</button>
	<button type="button" class="btn btn-success">Success</button>
	<button type="button" class="btn btn-info">Info</button>
	<button type="button" class="btn btn-warning">Warning</button>
	<button type="button" class="btn btn-danger">Danger</button>
	<button type="button" class="btn btn-light">Light</button>
	<button type="button" class="btn btn-dark">Dark</button>
	<button type="button" class="btn btn-link">Link</button>
	<button class="source-button btn btn-primary btn-xs" role="button" tabindex="0">&lt; &gt;</button>
</p>


<!-- Typography
	  ================================================== -->
<div class="bs-docs-section">
	<div class="row">
		<div class="col-lg-12">
			<div class="page-header">
				<h1 class="mb-4 mt-4" id="typography">Typography</h1>
			</div>
		</div>
	</div>

	<!-- Headings -->

	<div class="row">
		<div class="col-lg-4">
			<div class="bs-component">
				<h1>Heading 1</h1>
				<h2>Heading 2</h2>
				<h3>Heading 3</h3>
				<h4>Heading 4</h4>
				<h5>Heading 5</h5>
				<h6>Heading 6</h6>
				<h3>
					Heading
					<small class="text-muted">with muted text</small>
				</h3>
				<p class="lead">Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="bs-component">
				<h2>Example body text</h2>
				<p>Nullam quis risus eget <a href="#">urna mollis ornare</a> vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
				<p><small>This line of text is meant to be treated as fine print.</small></p>
				<p>The following is <strong>rendered as bold text</strong>.</p>
				<p>The following is <em>rendered as italicized text</em>.</p>
				<p>An abbreviation of the word attribute is <abbr title="attribute">attr</abbr>.</p>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="bs-component">
				<h2>Emphasis classes</h2>
				<p class="text-muted">Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.</p>
				<p class="text-primary">Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
				<p class="text-secondary">Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
				<p class="text-warning">Etiam porta sem malesuada magna mollis euismod.</p>
				<p class="text-danger">Donec ullamcorper nulla non metus auctor fringilla.</p>
				<p class="text-success">Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
				<p class="text-info">Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
			</div>
		</div>
	</div>
</div>